# <center> DSC 350 - Week 12 - Term Project <br> **Milestone 5**
***
## Alana D'Agostino
### Professor Kinney
#### 1 June 2024

# <center>Prepare Notebook

In [8]:
# Import libraries and prep notebook
import pandas as pd

# Load CSV data as Pandas DataFrames
## Flat file data
flatfile = pd.read_csv(r'C:\Users\alana\OneDrive\Desktop\DSC 350\FlatFile_ Term_Project_Data/DSC 350 - Milestone 5 - books flat file data.csv')

# View flatfile DF head
flatfile.head(10)

,Unnamed: 0,ID,book_ID,best_book_id,work_ID,books_count,ISBN,ISBN_13,Authors,OG_publication_year,...,ratings_count,work_ratings_count,work_txtreviews_count,rate_1,rate_2,rate_3,rate_4,rate_5,image_url,sml_img_URL
0,0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,6,7,5907,5907,1540236,969,618260307,9.780618e+12,J.R.R. Tolkien,1937.0,...,2071616,2196809,37653,46023,76784,288649,665635,1119718,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,7,8,5107,5107,3036731,360,316769177,9.780317e+12,J.D. Salinger,1951.0,...,2044241,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
8,8,9,960,960,3338963,311,1416524797,9.781417e+12,Dan Brown,2000.0,...,2001311,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
9,9,10,1885,1885,3060926,3455,679783261,9.780680e+12,Jane Austen,1813.0,...,2035490,2191465,49152,54700,86485,284852,609755,1155673,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...

In [7]:
# Load CSV data as Pandas DataFrames
## Wiki scraped data
scraped = pd.read_csv(r'C:\Users\alana\OneDrive\Desktop\DSC 350\FlatFile_ Term_Project_Data/DSC 350 - Milestone 5 - Wiki Scraped data.csv')

# View scraped DF head
scraped.head(5)

   Unnamed: 0          Authors            ID
0           0  Agatha Christie  L8tTEAAAQBAJ
1           1  Agatha Christie  QCYFEAAAQBAJ
2           2  Agatha Christie  CVBObgUR2zcC
3           3  Agatha Christie  z7QwEAAAQBAJ
4           4  Agatha Christie  0x0ZEAAAQBAJ

In [10]:
flatfile.head(2)

,Unnamed: 0,ID,book_ID,best_book_id,work_ID,books_count,ISBN,ISBN_13,Authors,OG_publication_year,...,ratings_count,work_ratings_count,work_txtreviews_count,rate_1,rate_2,rate_3,rate_4,rate_5,image_url,sml_img_URL
0,0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...

In [21]:
# SQLite3

# Import libraries
import csv
import sqlite3

# Establish connection to database
with sqlite3.connect(":memory:") as con:
    cursor = con.cursor()
    flatfile_table = '''CREATE TABLE Agatha_Christie_Novels(
                        Authors INTEGER PRIMARY KEY,
                        ID INTEGER,
                        book_ID INTEGER NOT NULL,
                        best_book_id INTEGER NOT NULL,
                        work_ID INTEGER NOT NULL,
                        books_count INTEGER NOT NULL,
                        ISBN INTERGER NOT NULL,
                        ISBN_13 INTEGER NOT NULL,
                        OG_publication_year INTEGER NOT NULL,
                        OG_title TEXT NOT NULL,
                        title TEXT NOT NULL,
                        lang_code TEXT NOT NULL,
                        mean_rating INTEGER NOT NULL,
                        ratings_count INTEGER NOT NULL,
                        work_rarings_count INTEGER NOT NULL,
                        work_txtreviews_count INTEGER NOT NULL,
                        rate_1 INTEGER NOT NULL,
                        rate_2 INTEGER NOT NULL,
                        rate_3 INTEGER NOT NULL,
                        rate_4 INTEGER NOT NULL,
                        rate_5 INTEGER NOT NULL,
                        image_url TEXT NOT NULL,
                        sml_img_URL TEXT NOT NULL);
                        '''
    cursor.execute(flatfile_table)

    file = open(r'C:\Users\alana\OneDrive\Desktop\DSC 350\FlatFile_ Term_Project_Data/DSC 350 - Milestone 5 - books flat file data.csv')

    contents = csv.reader(file)

    insert_records = "INSERT INTO Agatha_Christie_Novels (ID, book_ID, best_book_id, work_ID, books_count, ISBN, ISBN_13, OG_publication_year, OG_title, title, lang_code, mean_rating, ratings_count, work_rarings_count, work_txtreviews_count, rate_1, rate_2, rate_3, rate_4, rate_5, image_url, sml_img_URL) Values(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
    cursor.executemany(insert_records, contents)

OperationalError: 20 values for 22 columns

In [ ]:
# file = open('DSC 350 - Milestone 5 - books flat file data.csv')
# 
# contents = csv.reader(file)
# 
# insert_records = "INSERT INTO
# 
# '''CREATE TABLE person(
#                 id INTEGER PRIMARY KEY AUTOINCREMENT,
#                 name TEXT NOT NULL,
#                 age INTEGER NOT NULL);
#

# Sources:

* GeeksforGeeks: __[How to Import a CSV file into a SQLite database Table using Python?](https://www.geeksforgeeks.org/how-to-import-a-csv-file-into-a-sqlite-database-table-using-python/)__ <br><font color=slategray>(Last Updated: 2021, October 28)</font>